#home .intro{
    padding: 3rem;
    background-image: url(../assets/bgImages/introbg2.png);
    display: flex;
    min-height: 90vh;
    background-size: cover !important;
    background-position:center !important;
    background-repeat: no-repeat !important;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    /* margin-bottom: 2rem; */
}
#home .intro-text{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: left;
    width: 40%;
}
#home .intro-title{
    font-size: 40px;
    line-height: 44px;
}
#home .intro video{
    /* border-radius: 30px; */

    max-width: 100%;
    max-height: 400px;
    border: white solid 7px;
}
#home .intro .vid{
    max-width: 50%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home .section-divider{
    width:100%;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: black; */
    font-weight: 700;
    font-size: 45px;

}
#home .intro .play-btn{
    width: max-content;
    padding: 1rem;
    font-size: 5rem;
    border-radius: 50%;
    background: rgba(1, 1, 1, 0.492);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition:  .7s ease-in-out ;
}